data
tmp_*/
grb.*/

.venv/

__pycache__/

.DS_Store

# for GNNDelete
GNNDelete/experiment/
GNNDelete/data/
GNNDelete/checkpoint*/
GNNDelete/data
GNNDelete/checkpoint*
GNNDelete/wandb
GNNDelete/wandb/
GNNDelete/results/
GNNDelete/*csv

# Byte-compiled / optimized / DLL files
GNNDelete/__pycache__/
GNNDelete/*.py[cod]
GNNDelete/*$py.class

# C extensions
GNNDelete/*.so

# Distribution / packaging
GNNDelete/.Python
GNNDelete/build/
GNNDelete/develop-eggs/
GNNDelete/dist/
GNNDelete/downloads/
GNNDelete/eggs/
GNNDelete/.eggs/
GNNDelete/lib/
GNNDelete/lib64/
GNNDelete/parts/
GNNDelete/sdist/
GNNDelete/var/
GNNDelete/wheels/
GNNDelete/pip-wheel-metadata/
GNNDelete/share/python-wheels/
GNNDelete/*.egg-info/
GNNDelete/.installed.cfg
GNNDelete/*.egg
GNNDelete/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
GNNDelete/*.manifest
GNNDelete/*.spec

# Installer logs
GNNDelete/pip-log.txt
GNNDelete/pip-delete-this-directory.txt

# Unit test / coverage reports
GNNDelete/htmlcov/
GNNDelete/.tox/
GNNDelete/.nox/
GNNDelete/.coverage
GNNDelete/.coverage.*
GNNDelete/.cache
GNNDelete/nosetests.xml
GNNDelete/coverage.xml
GNNDelete/*.cover
GNNDelete/*.py,cover
GNNDelete/.hypothesis/
GNNDelete/.pytest_cache/

# Translations
GNNDelete/*.mo
GNNDelete/*.pot

# Django stuff:
GNNDelete/*.log
GNNDelete/local_settings.py
GNNDelete/db.sqlite3
GNNDelete/db.sqlite3-journal

# Flask stuff:
GNNDelete/instance/
GNNDelete/.webassets-cache

# Scrapy stuff:
GNNDelete/.scrapy

# Sphinx documentation
GNNDelete/docs/_build/

# PyBuilder
GNNDelete/target/

# Jupyter Notebook
GNNDelete/.ipynb_checkpoints

# IPython
GNNDelete/profile_default/
GNNDelete/ipython_config.py

# pyenv
GNNDelete/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#GNNDelete/Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
GNNDelete/__pypackages__/

# Celery stuff
GNNDelete/celerybeat-schedule
GNNDelete/celerybeat.pid

# SageMath parsed files
GNNDelete/*.sage.py

# Environments
GNNDelete/.env
GNNDelete/.venv
GNNDelete/env/
GNNDelete/venv/
GNNDelete/ENV/
GNNDelete/env.bak/
GNNDelete/venv.bak/

# Spyder project settings
GNNDelete/.spyderproject
GNNDelete/.spyproject

# Rope project settings
GNNDelete/.ropeproject

# mkdocs documentation
GNNDelete//site

# mypy
GNNDelete/.mypy_cache/
GNNDelete/.dmypy.json
GNNDelete/dmypy.json

# Pyre type checker
GNNDelete/.pyre/
